---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Datetime & Weather Widget">
	<main class="grid grid-cols-3 gap-2">
        <div class="bg-background p-4 text-white font-serif text-xl text-center capitalize" id="date">Date</div>
		<div class="bg-background p-4 text-white font-serif text-xl text-center" id="time">Time</div>
        <div class="bg-background p-4 text-white font-serif text-xl text-center" id="weather">Weather</div>
	</main>
</Layout>

<script>
    let dateElement = document.getElementById("date");
    let timeElement = document.getElementById("time");
    let weatherElement = document.getElementById("weather");

    function updateTime (time: HTMLElement|null) {
        if (time == null) {
            return;
        }
        time.innerHTML = new Date().toLocaleTimeString("fr-FR");
    };

    if (dateElement !== null) {
        let date = new Date().toLocaleDateString("fr-FR", { weekday: 'long', month: 'long', year: 'numeric', day: 'numeric' });
        dateElement.innerHTML = date;
    }
    if (weatherElement !== null) {
        weatherElement.innerHTML = "🌞";
    }

    let interval = setInterval(() => updateTime(timeElement), 1000);
</script>
